div.clause::-webkit-scrollbar {
    width: 7px; /* 스크롤바의 너비 */
}

div.clause::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #777; /* 스크롤바의 색상 */
}

div.clause::-webkit-scrollbar-track {
    background-color: #dadada; /* 스크롤바 트랙 색상 */
    border-radius: 7px;
    }

div.clause span {
    font-weight: bold;
    font-size: 1em;
}

div.clause span.title {
    font-size: 1em;
    padding-left: 75px;
}