/* guide wrap */

div.guide_wrap {
    width: 250px;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 265px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
div.guide_wrap p.guide_txt {
    font-size: 0.8em;
    line-height: 16px;
    letter-spacing: -1px;
    color: #fff;
}
