/* 룰렛 컨테이너 ---------------------------------------------------------------------------------------------------------------------- */
div.rullet_wrap {
    width: 730px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 30px 0;
    color: #fff;
    border: 1px solid #dadada;
    border-radius: 7px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

div.rullet_wrap > p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0;
}

/* 아이템 목록 ---------------------------------------------------------------------------------------------------------------------- */
/* 아이템 라인 */
div.rullet_wrap div.items_line {
    display: flex;
    justify-content: space-between;
    padding: 0  50px;
    margin-bottom: 30px;
}

/* 아이템 */
div.rullet_wrap div.items_line div.item {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .1);
    width: 130px;
    height: 130px;
    border: 1px solid #dadada;
    border-radius: 7px;
    letter-spacing: -1px;
    
    &:hover {
        background-color: rgba(255, 255, 255, .2);
        border: 2px solid #dadada;
        cursor: pointer;
    }
}

div.rullet_wrap div.items_line div.item_pic {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

div.rullet_wrap div.items_line div.item img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;
}

div.rullet_wrap div.items_line div.item_name {
    font-size: .7em;
}

/* 수령하기 버튼 */
div.rullet_wrap button {
    padding: 5px 30px;
    background-color: #000;
    color: #fff;

    &:hover {
        cursor: pointer;
    }
}

/* 룰렛 플레이 ---------------------------------------------------------------------------------------------------------------------------- */
div.rullet_wrap div.rullet {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 100;
}

div.rullet_wrap div.rullet div.rullet_img {
    width: 350px;
    height: 530px;
    margin: 0 auto;
    position: relative;
    top: 130px;
}


/* 후광 */
div.rullet_wrap div.rullet div.item_halo img {
    min-width: 700px;
    max-width: 700px;
    position: absolute;
    left: 50%; top: 40%;
    transform: translate(-50%, -50%);
    opacity: .6;
}

/* 박스 */
div.rullet_wrap div.rullet div.item_box img  {
    min-width: 300px;
    max-width: 300px;
    position: absolute;
    left: 50%; top: 40%;
    transform: translate(-50%, -50%);
}

/* 아이템 */
div.rullet_wrap div.rullet div.rullet_item img {
    min-height: 160px;  
    max-height: 160px;
    position: absolute;
    left: 50%; top: 35%;
    transform: translate(-50%, -50%);
}

/* 버튼 */
div.rullet_wrap div.rullet button {
    width: 140px;
    padding: 5px 30px;
    background-color: #000;
    color: #fff;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    z-index: 100;
}


/* 아이템 설명창 ----------------------------------------------------------------------------------------------------------------------------*/
div.rullet_wrap div.item_info_bg {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 100;
}

div.rullet_wrap div.item_info {
    background-color: rgba(255, 255, 255, .7);
    width: 400px;
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #fff;
    border-radius: 7px;
}

div.rullet_wrap div.item_info img {
    margin-top: 30px;
    margin-bottom: 20px;
    min-width: 200px;
    max-width: 200px;
}

div.rullet_wrap div.item_info h3 {
    color: #000;
}

div.rullet_wrap div.item_info p {
    margin-bottom: 20px;
    color: #000;
    padding: 0 20px;
    text-align: left;
    font-size: .9em;
}

div.rullet_wrap div.item_info button {
    position: absolute;
    top: 10px; right: 10px;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #dadada;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
}