/* slide_wrap */
#wrap div.slide_wrap {    
    width: 300px;
    background-color: rgba(0,0,0,1);
    height: 100vh;
    position: fixed;
    left: 0; 
    top: 50px;
    transition: 0.5s ease-out;
    z-index: 3;
}
#wrap div.slide_wrap div.slide_btn {
    width: 50px; height: 50px;
    background-color: rgba(0,0,0,1);
    position: absolute;
    right: -50px; top: 0;
    box-sizing: border-box;
    padding: 5px 10px;
    padding-top: 9px;
    cursor: pointer;
}
#wrap div.slide_wrap div.slide_btn:hover {
    background-color: #fff;
}
#wrap div.slide_wrap div.slide_btn:hover div.slide_btn_icon {
    background-color: #000;
}
#wrap div.slide_wrap div.slide_btn div.slide_btn_icon {
    background-color: #fff;
    height: 2px;
    width: 30px;
    transform-origin: 50% 50%;
    position: absolute;
    transition: 0.5s;
}
/* slide_menu_wrap */
div.slide_wrap div.slide_menu_wrap {
    width: 100%;
    text-align: center;
}
div.slide_wrap div.slide_menu_wrap div.slide_menu_title {
    height: 80px;
    line-height: 80px;
    color: #fff;
    text-align: center;
}
div.slide_wrap div.slide_menu_wrap div.slide_menu_title img {
    width: 100px;
}
div.slide_wrap div.slide_menu_wrap ul.slide_menu_list {
    overflow: hidden;
}